.container {
  width: 90%;
  position: relative;
  overflow: hidden;
  margin-left: 5px;
  margin-top: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: 2px solid #ffffffff;
  border-radius: 8px;
  &.selected {
    border-style: solid;
    border-image: linear-gradient(19deg, #21d4fd 0%, #0084dd 100%);
    border-image-slice: 1;
    border-image-width: 2px;
    box-sizing: border-box;
    transform: scale(1.03);
  }
  // 상단 계좌정보
  .accountTopInfoBox {
    padding: 10px 10px 0px;
    div {
      width: 50%;
      display: inline-block;
    }
    .bankName {
      text-align: left;
      font-size: 14px;
      font-weight: 700;
    }
    .bankType {
      text-align: right;
      font-size: 12px;
      font-weight: 400;
      color: #9c9c9c;
    }
  }
  // 중간 총 액
  .contentBox {
    text-align: center;
    padding: 30px 0;
    .totalAmount {
      font-weight: 700;
      font-size: 24px;
    }
  }
  // 하단 삭제 선택 버튼
  .buttonBox {
    border-top: 1px solid lightgray;
    div {
      display: inline-block;
      width: 50%;
      font-size: 14px;
      text-align: center;
      padding: 10px 0px;
      font-weight: 700;
      cursor: pointer;
      &:hover {
        background: #00000011;
      }
    }
    .deleteButton {
      border-right: 1px solid lightgray;
    }
    .selectButton {
    }
  }
}
