.conatiner {
  // 상단 계좌 추가
  .topSection {
    padding: 5px 0px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 20px;
    .totalBudget {
      width: 50%;
      display: inline-block;
      font-size: 18px;
      font-weight: 700;
      vertical-align: bottom;
      span {
        font-size: 14px;
        color: #7c7c7c;
        font-weight: 400;
        margin-right: 5px;
      }
    }
    .buttonAddAccount {
      width: 50%;
      display: inline-block;
      color: #0084dd;
      font-weight: 700;
      text-align: right;
      cursor: pointer;
      &:hover {
        color: #0f5d91;
      }
    }
  }
  // 계좌 리스트
  .itemList {
    transition: all 0.4s ease-out;
    .accountItem {
      margin-bottom: 20px;
    }
  }
}

// 빈 계좌 뷰
.emptyAccountBox {
  padding: 50px;
  text-align: center;
  font-size: 16px;
  border: 1px dashed lightgray;
  border-radius: 6px;
  line-height: 1.6;
  span {
    color: #0084dd;
    font-weight: 700;
  }
}
