.conatiner {
  // 상단 계좌 추가
  .topSection {
    padding: 5px 0px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 20px;
    text-align: right;
    .buttonAddAccount {
      display: inline-block;
      color: #0084dd;
      font-weight: 700;
      cursor: pointer;
      &:hover {
        color: #0f5d91;
      }
    }
  }
  // 계좌 리스트
  .itemList {
    transition: all 0.4s ease-out;
    .accountItem {
      margin-bottom: 20px;
    }
  }
}

// 빈 계좌 뷰
.emptyAccountBox {
  padding: 30px;
  text-align: center;
  font-size: 16px;
  border: 1px dashed lightgray;
  border-radius: 6px;
  line-height: 1.6;
  span {
    color: #0084dd;
    font-weight: 700;
  }
}
