.container {
  margin-bottom: 15px;
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 400;
  }
  .selectorBox {
    margin-bottom: 15px;
    .selectorType,
    .selectorCategory {
      display: inline-block;
      width: 47%;
    }
    .selectorType {
      margin-right: 6%;
    }
    .selectorCategory {
    }
  }
  .inputItemName {
    margin-bottom: 15px;
  }
  .inputItemAmount {
    margin-bottom: 15px;
  }
  .addButtonBox {
    text-align: center;
  }
}
