.containter {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 50px;

  .title {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 8px;
    span {
      color: #0084dd;
    }
  }

  .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.5px;
    margin-bottom: 50px;
    span {
      color: #0084dd;
    }
  }

  .summaryChart {
    position: absolute;
    width: 40%;
    top: 0;
    right: 0;
    vertical-align: top;
  }

  .status {
    width: 60%;
    vertical-align: top;
    .incomeSection,
    .spendingSection {
      display: inline-block;
      width: 50%;
      padding: 5px 0px;
      .income,
      .spending {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 10px;
        text-align: center;
      }
      .income {
        span {
          color: #0084dd;
        }
      }
      .spending {
        span {
          color: #9c9c9c;
        }
      }
      .incomeLabel,
      .spendingLabel {
        font-size: 14px;
        text-align: center;
        color: #9c9c9c;
      }
      .unit {
        padding-left: 3px;
        color: black;
        font-weight: 700;
      }
    }
    .incomeSection {
      border-right: 1px solid lightgray;
    }
  }
}
