.container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  max-width: 700px;
  margin: auto auto;

  .title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    span {
      color: #0084dd;
    }
  }

  .nameInput {
    margin: 0px auto 15px;
  }

  .ageInput {
    margin: 0px auto 20px;
  }
}
