@import './font';
@import './variable';

/*==================== RESET ====================*/
@charset "UTF-8";

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: rgba(black, 0.02);
}
article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main details,
menu,
hgroup,
summary {
  display: block;
}
body,
section,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
td,
th,
tr,
input,
button,
select,
textarea,
label,
optgroup {
  font-family: 'Spoqa Han Sans', AppleSDGothicNeo-Regular, AppleSDGothic,
    'Apple SD Gothic Neo', AppleGothic, 'Nanum Gothic', 'Malgun Gothic', 'Dotum',
    Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
  outline: 0 !important;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 0\0) {
  /* IE 9 Hack to avoid poor text-rendering */
  body,
  section,
  div,
  ul,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  pre,
  table,
  td,
  th,
  tr,
  input,
  button,
  select,
  textarea,
  label,
  optgroup {
    font-family: 'Malgun Gothic', 'Dotum', Arial, sans-serif;
    letter-spacing: -0.05em;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li,
td {
  zoom: 1;
}
ul {
  list-style: none;
}
table,
td,
th,
tr {
  border-collapse: collapse;
}
a {
  color: inherit;
  cursor: pointer;
  &,
  &:link,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline-width: 0;
  }
}
img {
  border: none;
}
i {
  font-family: 'FontAwesome';
}
button {
  background: none;
  border: none;
  cursor: pointer;
  &:disabled {
    opacity: 1;
    background: #9c9c9c;
    border-color: #9c9c9c;
  }
}
input[type='number'],
input[type='tel'] {
  letter-spacing: 0;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
select,
input[type='text'],
input[type='number'],
input[type='tel'] {
  background-color: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-indent: 1px;
}
[hidden] {
  display: none;
}

/* FXCK IE */
:-ms-input-placeholder {
  color: #aaa !important;
}
select::-ms-expand,
input::-ms-clear {
  display: none;
}

/* FXCK iOS TOO */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

@media screen and (max-width: 768px) {
  body,
  section,
  div,
  ul,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  pre,
  table,
  td,
  th,
  tr,
  input,
  button,
  select,
  textarea,
  label {
    letter-spacing: 0;
    font-family: sans-serif;
  }
}
