.title {
  font-size: 24px;
  font-weight: 700;
}
.description {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #9c9c9c;
}
.input {
  margin-bottom: 15px;
}
.submitButtonBox {
  margin-top: 30px;
  text-align: center;
}
