.container {
  padding: 48px 15px;
  .headerBox {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    .title {
      display: inline-block;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.2;
      padding-bottom: 8px;
      span {
        color: #0084dd;
      }
    }
  }
  .buttonAdjustBox {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    text-align: right;
  }

  .budgetBox {
    margin-bottom: 50px;
    .budgetTitle,
    .budgetAmount {
      display: inline-block;
      width: 50%;
      padding: 10px;
      text-align: center;
    }

    .budgetTitle {
      background: #0084dd;
      color: white;
    }

    .budgetAmount {
      border: 1px solid #ececec;
      font-weight: 700;
    }
  }

  .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.5px;
    margin-bottom: 50px;
    span {
      color: #0084dd;
    }
  }
  .beforeAdjustBox,
  .afterAdjustBox {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    padding-bottom: 20px;
  }

  .beforeAdjustBox {
    margin-right: 5%;
  }
  .afterAdjustBox {
    margin-left: 5%;
  }

  .descBox {
    margin-top: 40px;
    .descTitle {
      font-size: 18px;
      color: #0084dd;
      text-align: center;
      margin-bottom: 10px;
      font-weight: 700;
    }
    .descSubtitle {
      text-align: center;
    }
  }
}
